In [1]:
%pylab

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [66]:
import matplotlib
import pandas as pd

In [6]:
import numpy as np

In [5]:
print(numpy.__version__)

1.12.1

In [7]:
import matplotlib.pyplot as mat

In [8]:
%matplotlib inline

In [74]:
data=np.genfromtxt('phenotypes.csv',delimiter=',',skip_header=1)
types=pd.read_csv('phenotypes.csv')

In [75]:
print(data)

[[ nan   2.   1. ...,   3.   2.   1.]
 [ nan   1.   3. ...,   0.   2.   2.]
 [ nan   2.   1. ...,   0.   2.   2.]
 ...,
 [ nan   1.   1. ...,   0.   2.   2.]
 [ nan   1.   1. ...,   1.   2.   1.]
 [ nan   1.   1. ...,   0.   2.   2.]]

In [76]:
print(len(data))

1139

In [77]:
print(data.shape)

(1139, 66)

In [78]:
print(type(data))

<class 'numpy.ndarray'>

In [79]:
name=data[:,0]

In [80]:
name

array([ nan,  nan,  nan, ...,  nan,  nan,  nan])

In [81]:
word_reading_ability=data[:,1]

In [82]:
word_reading_ability

array([ 2.,  1.,  2., ...,  1.,  1.,  1.])

In [83]:
smoking=data[:,9]

smoking

In [84]:
smoking

array([ 2.,  1.,  1., ...,  2.,  2.,  1.])

In [85]:
weight=data[:,3]

In [86]:
weight

array([ 1.,  2.,  2., ...,  2.,  0.,  1.])

In [87]:
vitaminE=data[:,4]

In [88]:
vitaminE

array([ 2.,  2.,  0., ...,  2.,  2.,  4.])

In [89]:
protein_intake=data[:,17]

In [90]:
protein_intake

array([ 1.,  1.,  0., ...,  1.,  0.,  1.])

3=weight
4=vitamin e
17=protein intake
20=peanuts allergy
22=openness

In [91]:
arrDataCol=[3,4,17]

In [92]:
for i in range(len(arrDataCol)):
    i=data[:,arrDataCol[i]]
    print(i)

[ 1.  2.  2. ...,  2.  0.  1.]
[ 2.  2.  0. ...,  2.  2.  4.]
[ 1.  1.  0. ...,  1.  0.  1.]

In [93]:
types[:3]

,username (genome dataset from openSNP.org),word-reading-ability,white-wine-liking,weight,vitamin-e,vitamin-d,vitamin-b12,vitamin-a,type-2-diabetes,smoking-behavior,...,breast-cancer,bmi,black-hair,bitter-taste,beta-carotene,beard-thickness,anger,alpha-linolenic-acid,alcohol-drinking-behavior,agreeableness
0,10.23andme.903,2,1,1,2,2,1,0,NaN,2,...,NaN,2,4,3,2,2,0,3,2,1
1,1001.ancestry.496,1,3,2,2,4,2,2,NaN,1,...,NaN,2,0,3,2,2,0,0,2,2
2,1002.23andme.497,2,1,2,0,0,2,3,NaN,1,...,NaN,2,2,2,0,2,1,0,2,2

In [95]:
types

,username (genome dataset from openSNP.org),word-reading-ability,white-wine-liking,weight,vitamin-e,vitamin-d,vitamin-b12,vitamin-a,type-2-diabetes,smoking-behavior,...,breast-cancer,bmi,black-hair,bitter-taste,beta-carotene,beard-thickness,anger,alpha-linolenic-acid,alcohol-drinking-behavior,agreeableness
0,10.23andme.903,2,1,1,2,2,1,0,NaN,2,...,NaN,2,4,3,2,2,0,3,2,1
1,1001.ancestry.496,1,3,2,2,4,2,2,NaN,1,...,NaN,2,0,3,2,2,0,0,2,2
2,1002.23andme.497,2,1,2,0,0,2,3,NaN,1,...,NaN,2,2,2,0,2,1,0,2,2
3,1004.23andme.2228,1,1,2,0,2,1,0,NaN,2,...,NaN,2,0,2,1,2,2,1,2,2
4,1004.23andme.498,1,1,2,0,2,1,0,NaN,2,...,NaN,2,0,2,1,2,2,1,2,2
5,1010.23andme.502,1,1,1,2,2,1,0,NaN,2,...,NaN,2,2,0,1,2,2,1,2,2
6,1013.23andme.503,1,3,2,2,2,0,2,NaN,2,...,NaN,2,2,2,1,2,3,1,2,1
7,1020.23andme.507,1,3,3,0,2,0,2,NaN,2,...,NaN,2,0,2,0,2,2,2,2,0
8,1022.23andme.508,1,1,0,0,3,2,3,NaN,2,...,NaN,2,2,0,2,2,0,1,2,2
9,1026.23andme.511,1,1,1,0,0,1,2,NaN,0,...,NaN,1,2,2,1,1,0,3,2,1
10,1028.23andme.514,1,1,2,2,0,1,0,NaN,2,...,NaN,1,0,2,0,1,2,2,2,4
11,1029.23andme.515,2,1,3,2,3,0,2,NaN,1,...,NaN,1,4,2,0,2,4,0,2,2
12,1034.23andme.517,1,3,0,0,1,1,0,NaN,2,...,NaN,1,3,2,0,2,1,3,2,3
13,1035.ancestry.518,1,1,2,2,3,0,2,NaN,1,...,NaN,2,2,2,0,2,2,2,2,2
14,1036.23andme.519,1,1,1,4,2,2,3,NaN,1,...,NaN,2,2,0,1,2,0,1,2,1
15,1038.23andme.520,0,3,2,2,0,0,4,NaN,1,...,NaN,2,0,2,0,1,1,1,2,2
16,1039.23andme.521,0,3,2,0,1,1,2,NaN,1,...,NaN,2,0,2,1,2,2,0,2,1
17,1040.23andme.522,1,3,2,0,2,1,0,NaN,2,...,NaN,2,2,2,1,2,2,2,2,3
18,1041.23andme.523,1,1,2,2,3,2,0,NaN,2,...,NaN,1,2,2,2,1,3,2,2,2
19,1042.ancestry.524,1,1,2,0,2,2,0,NaN,3,...,NaN,2,0,2,2,2,2,0,2,2
20,1045.23andme.526,1,3,1,2,2,1,2,NaN,1,...,NaN,2,0,3,1,2,2,1,2,1
21,1046.23andme.527,1,1,2,0,1,1,2,NaN,2,...,NaN,1,2,2,0,1,0,1,2,2
22,1047.23andme.528,1,3,0,2,1,2,2,NaN,2,...,NaN,2,2,0,2,2,3,2,2,1
23,1048.23andme.529,1,1,2,0,0,1,3,NaN,1,...,NaN,1,2,3,2,1,1,0,2,3
24,1051.23andme.530,1,1,2,2,3,1,3,NaN,1,...,NaN,2,2,2,1,1,2,2,2,2
25,1058.23andme.533,1,1,2,2,1,0,3,NaN,2,...,NaN,3,0,2,1,2,3,2,2,2
26,1060.23andme.536,1,3,2,2,0,1,2,NaN,2,...,NaN,2,2,3,1,2,1,0,2,1
27,1063.23andme.540,2,1,2,0,1,1,2,NaN,0,...,NaN,2,3,0,1,2,0,1,2,3
28,1064.23andme.542,1,3,2,2,2,2,0,NaN,1,...,NaN,2,0,3,2,1,2,1,2,2
29,1066.23andme.543,2,3,1,2,1,0,0,NaN,2,...,NaN,2,0,0,0,1,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,4125.23andme.2791,1,1,2,2,2,1,2,NaN,1,...,NaN,3,2,3,2,2,1,2,2,1
1110,4126.23andme.2792,1,1,2,0,3,1,0,NaN,2,...,NaN,2,4,0,0,2,2,0,2,0
1111,4127.23andme.2793,1,1,2,2,3,2,0,NaN,2,...,NaN,2,2,2,1,2,2,1,2,3
1112,4171.23andme.2830,1,1,0,2,0,0,2,NaN,0,...,NaN,1,3,2,2,2,3,1,2,0
1113,4173.23andme.2831,1,1,2,2,1,1,0,NaN,2,...,NaN,2,0,2,1,2,2,1,2,0
1114,4174.23andme.2832,1,1,2,2,1,1,0,NaN,2,...,NaN,2,4,2,0,2,2,1,2,1
1115,4440.ancestry.3043,1,1,3,2,1,0,0,NaN,3,...,NaN,2,0,1,1,2,2,0,2,2
1116,4442.23andme.3046,0,3,2,2,4,0,2,NaN,0,...,NaN,1,4,2,0,1,2,1,2,1
1117,4444.23andme.3047,1,1,1,2,2,1,0,NaN,2,...,NaN,1,3,3,1,2,0,0,2,2
1118,4614.ancestry.3217,1,3,0,2,2,1,2,NaN,1,...,NaN,2,2,2,2,1,0,0,2,2
1119,466.23andme.447,1,1,2,2,0,1,2,NaN,2,...,NaN,3,4,3,1,2,0,0,2,3
1120,4664.23andme.3269,1,1,2,2,2,1,0,NaN,2,...,NaN,2,2,2,1,2,2,1,2,3
1121,4668.23andme.3273,1,1,2,2,3,0,2,NaN,2,...,NaN,1,2,3,2,2,1,0,2,1
1122,4671.23andme.3274,1,1,0,3,1,0,0,NaN,2,...,NaN,1,2,3,2,2,1,1,2,3
1123,4672.23andme.3275,1,1,2,3,2,1,0,NaN,3,...,NaN,2,2,0,1,2,0,1,2,0
1124,4679.23andme.3289,1,1,1,0,1,1,0,NaN,2,...,NaN,1,0,0,1,2,1,0,2,3
1125,4680.23andme.3290,1,1,2,2,2,1,0,NaN,2,...,NaN,1,2,1,1,2,0,0,2,1
1126,4684.23andme.3293,1,1,0,0,3,1,0,NaN,2,...,NaN,1,0,2,1,2,2,2,2,1
1127,4685.23andme.3294,1,1,0,2,2,1,0,NaN,1,...,NaN,1,2,0,1,2,2,1,2,2
1128,4686.23andme.3295,1,1,0,2,1,0,0,NaN,1,...,NaN,3,0,0,2,2,2,1,2,3
1129,4689.ancestry.3297,1,1,2,0,1,0,3,NaN,2,...,NaN,2,0,3,0,1,0,2,2,2
1130,4690.23andme.3298,1,1,2,3,1,0,2,NaN,2,...,NaN,2,0,2,1,2,2,0,2,2
1131,4691.ancestry.3299,2,1,2,0,2,1,2,NaN,2,...,NaN,2,2,2,2,1,1,1,2,2
1132,4692.23andme.3300,1,1,2,3,2,1,2,NaN,2,...,NaN,1,2,0,2,2,0,1,2,2
1133,4693.23andme.3301,1,1,1,2,3,1,2,NaN,2,...,NaN,2,2,0,1,2,0,2,2,0
1134,4760.ancestry.3351,1,1,1,2,1,1,0,NaN,2,...,NaN,2,2,2,1,2,2,2,2,2
1135,4762.ancestry.3352,0,1,1,2,4,0,2,NaN,2,...,NaN,2,2,2,0,2,2,2,2,2
1136,4798.23andme.3382,1,1,2,2,1,1,0,NaN,2,...,NaN,1,0,2,0,2,1,0,2,2
1137,4799.23andme.3383,1,1,0,2,1,1,2,NaN,2,...,NaN,1,0,2,2,2,0,1,2,1
1138,488.23andme.1839,1,1,1,4,2,0,3,NaN,1,...,NaN,1,4,3,1,2,1,0,2,2